<div class="row">
  <div class="input-field col s12">
    <div class="row">
      <div class="input-field col s1">
      </div>
      <div class="input-field col s11">
        <h3>Register</h3>
      </div>
    </div>
  </div>
  <form class="col s12 registerForm" ng-model="register" ng-submit="authCtrl.onClick(register)">
    <div class="row">
      <div class="input-field col s1">
      </div>
      <div class="input-field col s5">
        <input id="username" type="text" ng-model="register.username">
        <label for="username">Username *</label>
      </div>
      <div class="input-field col s1">
      </div>
      <div class="input-field col s5">
        <input id="password" type="password" ng-model="register.password">
        <label for="password">Password * <small>At leat 8 charactors long</small></label>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s5">
          <input id="first_name" type="text" ng-model="register.names.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s1">
        </div>
        <div class="input-field col s5">
          <input id="last_name" type="text" ng-model="register.names.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s5">
          <input id="dob" type="text" ng-model="register.dob">
          <label for="dob">Birthdate (YYYY-MM-DD) * <small>Must be 18</small></label>
        </div>
        <div class="input-field col s1">
        </div>
        <div class="input-field col s5">
          <input id="email" type="email" ng-model="register.email">
          <label for="email">Email *</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s1">
          <input id="gender" type="text" ng-model="register.gender">
          <label for="gender">Gender</label>
        </div>
        <div class="input-field col s1">
        </div>
        <div class="input-field col s9">
          <input id="description" type="text" ng-model="register.description">
          <label for="description">Description</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s4">
          <input id="street" type="text" ng-model="register.street">
          <label for="Street">Street</label>
        </div>
        <div class="input-field col s1">
          <input id="suite" type="text" ng-model="register.suite">
          <label for="Suite">Suite</label>
        </div>
        <div class="input-field col s1">
        </div>
        <div class="input-field col s4">
          <input id="city" type="text" ng-model="register.city">
          <label for="City">City</label>
        </div>
        <div class="input-field col s1">
          <input id="zip" type="number" ng-model="register.address.zipcode">
          <label for="Zip">Zip</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s4">
          <input id="geo" type="number" ng-model="register.address.geo.lng">
          <label for="Geo">Geo Lng *</label>
        </div>
        <div class="input-field col s4">
          <input id="geo2" type="number" ng-model="register.address.geo.lat">
          <label for="Geo2">Geo Lat *</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s11">
          <input id="url" type="text" ng-model="register.url">
          <label for="url">Photo URL</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s11">
          <input id="url" type="text" ng-model="register.slug">
          <label for="slug">slug *</label>
        </div>
      </div>
    </div>
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s1">
        </div>
        <div class="input-field col s11">
          <button class="waves-effect waves-light btn s11" type="submit">Create An Account</button>
        </div>
      </div>
    </div>
  </form>
</div>
