<div class="info-wrapper" ng-controller="infoController as infoCtrl">
  <div class="person">
    <h4>{{infoCtrl.person.selected.username}}</h4>
    <img ng-src="{{infoCtrl.person.selected.avatar}}" class="avatar">
    <p><big>{{infoCtrl.person.selected.email}}</big></p>
    <p>{{infoCtrl.person.selected.description}}</p>
  </div>
  <div class="friends">
    <p><big>Friends Count: {{infoCtrl.match.matchMember.length}}<big></p>
    <img ng-src="{{match.avatar}}" class="avatar" ng-repeat="match in infoCtrl.match.matchMember">
  </div>
</div>
