p {
  color: #666;
}

.nav-wrapper {
  padding: 0 30px;
}

.bg {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.btn-nav {
  margin: 20px 10px;
}

.person-wrapper {
  min-height: 200px;
}

.avatar {
  float: left;
  margin: 10px 20px;
}

/* csss for more info section */
.info-wrapper {
   position: fixed;
   top: 10;
   background-color: #f1f1f1;
   width: 55%;
   min-height: 500px;
   padding: 20px 40px;
   border: 3px dotted #999;
   word-wrap: break-word;
}

.person {
  float: left;
}

.person .avatar {
  width: 200px;
}

.friends {
  float: left;
}

.friends .avatar {
  width: 100px;
}
